.page {
  text-align: center;
}

Link {
  display: block;
  margin-bottom: 10px;
  color: #333;
  text-decoration: none;
}

.button {
  background: red;
  padding: 10px;
}

.value {
  font-size: 100px;
}

.icon {
  color: blue;
}

.title {
  color: yellow;
  size: 30px;
}

/*p {
  color: yellow;
  font-size: 50px;
}
*/